@{
    ViewData["Title"] = "Administration";
}

    <partial name="Admin/_menu" />

    <div id="main" class="container">
        <partial name="_currencyprice" />
    </div>

    <partial name="Admin/_EditModal" />

    <div class="fixed-bottom card">
        <partial name="_footer" />
    </div>
