@{
    ViewData["Title"] = "Administration";
}

<div id="menu">
    <partial name="Admin/_menu" />
 </div>
<partial name="_currencyprice" />
<partial name="Admin/_managerPrice" />
<partial name="_footer" />
