@{
    ViewData["Title"] = "Administration";
    //Layout = "Admin/_AdminLayout";
}


    <partial name="Admin/_menu" />
    <div id="main" class="container">
        <partial name="_currencyprice" />
        
        @*<partial name="Admin/_managerPrice" />*@
        @*<partial name="Admin/_usersManagement" />*@
    </div>
    <div class="fixed-bottom card">
        <partial name="_footer" />
    </div>
