<!-- Header -->
<header class="masthead">
    <div class="container">
        <div class="intro-text">
            <div class="intro-lead-in">Grupo Transfer Xpress!</div>
            <div class="intro-heading text-uppercase">
                ¡Somos tu mejor opción en cambios!
            </div>
            <div class="row align-items-center">
                <div class="col-md-12">
                    <ul class="list-inline social-buttons">
                        <li class="list-inline-item">
                            <a href="https://api.whatsapp.com/send?phone=51935630233" data-toggle="tooltip" data-html="true" data-placement="right" title="Envianos un WhatsApp!" style="font-size: 50px;width: 80px;height: 80px;line-height: 80px;">
                                <i class="fab fa-whatsapp"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</header>

<!-- Services -->
<section class="page-section" id="services">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading text-uppercase">Servicios</h2>
                <h3 class="section-subheading text-muted">Nuestros servicios están disponible para España, Chile, Estados Unidos, Panamá, Venezuela.</h3>
            </div>
        </div>
        <div class="row text-center">

            <div class="col-md-6">
                <a href="#currencyprice">
                    <span class="fa-stack fa-4x">
                        <i class="fas fa-circle fa-stack-2x text-primary"></i>
                        <i class="fas fa-shopping-cart fa-stack-1x fa-inverse"></i>
                    </span>
                </a>
                <h4 class="service-heading">Cambios dvisas</h4>
                <p class="text-muted">Cambiamos la monedas que tengas por la que necesites</p>
            </div>

            @*<div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fas fa-circle fa-stack-2x text-primary"></i>
                        <i class="fas fa-laptop fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Responsive Design</h4>
                    <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima maxime quam architecto quo inventore harum ex magni, dicta impedit.</p>
                </div>*@
            <div class="col-md-6">
                <a href="#package">
                    <span class="fa-stack fa-4x">
                        <i class="fas fa-circle fa-stack-2x text-primary"></i>
                        <i class="fas fa-lock fa-stack-1x fa-inverse"></i>
                    </span>
                </a>
                <h4 class="service-heading">Encomiendas</h4>
                <p class="text-muted">Envía paquetes con nosotros y monitorea su progreso hasta llegar a su destino</p>
            </div>
        </div>
    </div>
</section>

<!-- About -->
<section class="page-section" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading text-uppercase">Nosotros</h2>
                <h3 class="section-subheading text-muted">
                    Somos una empresa dedicada al servicio de envios de dinero o remesas en monedas extranjeras, compra y venta de moneda digital, contamos con el servicio de envíos de paqueteria o encomiendas a toda Venezuela, siempre brindandole a nuestros clientes una forma más sencilla de estar cerca con sus seres queridos.
                </h3>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <ul class="timeline">
                    <li>
                        <div class="timeline-image">
                            <img class="rounded-circle img-fluid" src="~/images/agency/about/2.jpg" alt="">
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">                               
                                <h4 class="subheading">Envía remesas tus seres queridos</h4>
                            </div>
                            <div class="timeline-body">
                                <p class="text-muted">Nosotros te ayudaremos a garantizar la entrega de productos a tus seres queridos donde esten</p>
                            </div>
                        </div>
                    </li>
                    <li class="timeline-inverted">
                        <div class="timeline-image">
                            <img class="rounded-circle img-fluid" src="~/images/agency/about/1.jpg" alt="">
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4 class="subheading">Cambia tus divisas con seguidad</h4>
                            </div>
                            <div class="timeline-body">
                                <p class="text-muted">Podras cambiar la moneda que tengas por la que desees</p>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="timeline-image">
                            <img class="rounded-circle img-fluid" src="~/images/agency/about/3.jpg" alt="">
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">                               
                                <h4 class="subheading">Operaciones seguras</h4>
                            </div>
                            <div class="timeline-body">
                                <p class="text-muted">Tus operaciones son seguras por nuesras vías electrónicas</p>
                            </div>
                        </div>
                    </li>
                    <li class="timeline-inverted">
                        <div class="timeline-image">
                            <img class="rounded-circle img-fluid" src="~/images/agency/about/4.jpg" alt="">
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">                                
                                <h4 class="subheading">Red bancaria</h4>
                            </div>
                            <div class="timeline-body">
                                <p class="text-muted">Tenemos una amplia red medios por los cuales podemos agilizar el pago destino</p>
                            </div>
                        </div>
                    </li>
                    <li class="timeline-inverted">
                        <div class="timeline-image">
                            <h4>
                                Apoyate 
                                <br/>con
                                <br/>nosotros
                            </h4>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>

<!-- Clients -->
<section class="py-5">
    <div class="container">
        <div class="row">
            <div class="col-md-3 col-sm-6">
                <a href="#">
                    <img class="img-fluid d-block mx-auto" src="~/images/agency/logos/envato.jpg" alt="">
                </a>
            </div>
            <div class="col-md-3 col-sm-6">
                <a href="#">
                    <img class="img-fluid d-block mx-auto" src="~/images/agency/logos/designmodo.jpg" alt="">
                </a>
            </div>
            <div class="col-md-3 col-sm-6">
                <a href="#">
                    <img class="img-fluid d-block mx-auto" src="~/images/agency/logos/themeforest.jpg" alt="">
                </a>
            </div>
            <div class="col-md-3 col-sm-6">
                <a href="#">
                    <img class="img-fluid d-block mx-auto" src="~/images/agency/logos/creative-market.jpg" alt="">
                </a>
            </div>
        </div>
    </div>
</section>