<section class="page-section" id="currencyprice">
    <h2 align="center" class="small">Calculadora PayPal para Recibir</h2>

    <div class="table-responsive">
        <table class="table">
            <tr>
                <td>
                    Vender:
                </td>
                <td>
                    <input id="tosell" type="text">
                </td>
            </tr>
            <tr>
                <td>
                    Transferir:
                </td>
                <td>
                    <input id="totransfer" type="text">
                </td>
            </tr>
        </table>
    </div>
    </section>