@model GroupTransfer2.Models.Users

@{
    ViewData["Title"] = "Inicio de Sesión";
    Layout = "_Layout";
}

<style type="text/css">
    html {
        height: 100% !important;
    }

    body {
        height: 100% !important;
        background-image: url(../../../images/agency/header-bg.jpg);
    }
</style>

<div class="container h-100">
    <div class="row align-items-center justify-content-center h-100">
        <div class="col-10 col-sm-10 col-md-8 col-lg-6 col-xl-5">
            <div class="card">
                <div class="card-header text-center">
                    <h5 class="card-title">Iniciar Sesión</h5>
                </div>
                <div class="card-body">
                    @if (TempData["UserLoginFailed"] != null)
                    {
                        <p class="alert alert-danger">
                            @TempData["UserLoginFailed"]
                        </p>
                    }

                    <form asp-action="Login">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <div class="form-group">
                            <label asp-for="usr_Name" class="col-form-label-lg"></label>
                            <div class="input-group input-group-lg">
                                <input asp-for="usr_Name" class="form-control form-control-lg" />
                                <div class="input-group-append">
                                    <span class="input-group-text fa fa-envelope"></span>
                                </div>
                            </div>
                            <span asp-validation-for="usr_Name" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="usr_Pswd" class="col-form-label-lg"></label>
                            <div class="input-group input-group-lg">
                                <input asp-for="usr_Pswd" class="form-control form-control-lg form-control-sm" />
                                <div class="input-group-append">
                                    <span class="input-group-text fa fa-lock"></span>
                                </div>
                            </div>
                            <span asp-validation-for="usr_Pswd" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <button type="submit" class="btn btn-primary btn-xl text-uppercase btn-block">Entrar<i class="fa fa-check mx-2"></i></button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
