<section id="managerQuestion" class="container page-section">
    @*<div class="container">*@
    <div class="row">
        <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 text-center titlemanagerprice rounded p-1">
            <h2 class="section-heading text-uppercase">Mensajes</h2>
        </div>
        @*<div class="col-sm rounded-right titlemanagerprice">
                <label></label>
            </div>*@
        <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12" id="mensagemanagerquestion"></div>
        <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12" id="managerQuestionmensajes">
            @*<div class="container p-2" id="managerQuestionmensajes">
                <div class="row p-2 text-center">
                    <div class="col-sm">
                        <label>Nombre</label>
                    </div>
                    <div class="col-sm">
                        <label>Telefono</label>
                    </div>
                    <div class="col-sm">
                        <label>Email</label>
                    </div>
                    <div class="col-sm">
                        <label>fecha</label>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm border border-primary rounded">
                        <label>Mensaje</label>
                    </div>
                    <div class="col col-lg-2 text-center">
                        <button type="button" id="rowManagerPriceNew" class="btn btn-danger" title="Atender">-</button>
                    </div>
                </div>
            <hr />
            </div>*@
        </div>
    </div>

    @*</div>*@
</section>