<section class="page-section" id="managerQuestion">
    <div class="container">
        <div class="row mr-3">
            <div class="col-sm rounded-left titlemanagerprice">
                <label>Mensajes</label>
            </div>
            <div class="col-sm rounded-right titlemanagerprice">
                <label></label>
            </div>
        </div>
        <div id="mensagemanagerquestion"></div>
        <div class="container p-2" id="managerQuestionmensajes">
            @*<div class="row p-2 text-center">
                    <div class="col-sm">
                        <label>Nombre</label>
                    </div>
                    <div class="col-sm">
                        <label>Telefono</label>
                    </div>
                    <div class="col-sm">
                        <label>Email</label>
                    </div>
                    <div class="col-sm">
                        <label>fecha</label>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm border border-primary rounded">
                        <label>Mensaje</label>
                    </div>
                    <div class="col col-lg-2 text-center">
                        <button type="button" id="rowManagerPriceNew" class="btn btn-danger" title="Atender">-</button>
                    </div>
                </div>
            <hr />*@
        </div>

    </div>
</section>