<section class="container page-section" id="managerpackage">
    <form id="formmanagerpackage" name="formmanagerpackagename">
        @*<div class="container">*@
        <div class="row">
            <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 text-center titlemanagerprice rounded p-1">
                <h2 class="section-heading text-uppercase">Paquetería</h2>
            </div>
            @*</div>*@
            @*<div class="row">*@
            <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                    <div class="float-right py-3">
                        <ul class="list-inline social-buttons">
                            <li class="list-inline-item text-center" data-toggle="collapse" data-target="#containerpackage">
                                <a href="#" data-toggle="tooltip" id="addcontainerpackage" data-html="true" data-placement="right" title="Agregar" style="width:40px;height:40px;line-height:40px;">
                                    <i class="fas fa-plus"></i>
                                </a>
                            </li>
                            <li class="list-inline-item text-center" data-toggle="collapse" data-target="#containerpackage">
                                <a href="#" data-toggle="tooltip" id="editcontainerpackage" data-html="true" data-placement="right" title="Editar" style="width:40px;height:40px;line-height:40px;">
                                    <i class="fas fa-edit"></i>
                                </a>
                            </li>
                            <li class="list-inline-item text-center">
                                <a href="#" data-toggle="tooltip" id="editcontainerpackage" data-html="true" data-placement="right" title="Importar Excel" style="width:40px;height:40px;line-height:40px;">
                                    <i class="fas fa-file-excel"></i>
                                </a>
                            </li>
                        </ul>
                    </div>

                @*<div class="col col-md-4 titlemanagerprice">
                <ul class="list-inline social-buttons">

                </ul>
            </div>*@

                @*<div class="col col-md-4 rounded-right titlemanagerprice">
                <label>Importar Excell</label>
            </div>*@
            </div>
            <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 dropdown-divider"></div>
            <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12" id="mensagemanagerpackage"></div>
        </div>
            @*</div>*@

            <div class="container collapse" id="containerpackage">
                <br />
                <div class="row">
                    <div class="col col-lg-3">
                        @*<strong>DECLARACION</strong>*@
                    </div>
                    <div class="col col-lg-3">
                        @*<strong>FECHA:</strong> 15/07/2019*@
                    </div>
                    <div class="col col-lg-6">
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="codegtack"><strong>CODIGO G-TRACK</strong></span>
                            </div>
                            <input type="text" class="form-control" id="codegtackinput" aria-label="codegtack" aria-describedby="codegtack">
                        </div>
                    </div>
                </div>
                @* Begin Send package *@
                <div class="row border border-warning rounded-top" id="datasend">
                    <div class="container ">
                        <div class="row">
                            <div class="col col-lg-12">
                                <strong>DATOS ENVÍO:</strong>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col col-lg-8">
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">Detalles del envío</span>
                                    </div>
                                    <textarea class="form-control" id="insendpackagedetal" aria-label="Detalles del envío"></textarea>
                                </div>
                            </div>

                            <div class="col col-lg-4">
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text" id="sendprogress">PROGRESO</span>
                                    </div>
                                    <input type="number" class="form-control" placeholder="50" id="insendprogress" aria-label="sendprogress" aria-describedby="sendprogress">
                                </div>
                            </div>
                        </div>
                        <br />
                    </div>
                </div>
                @* End Send package *@
                <!-- Data customer Begin -->
                <div class="row border border-warning" id="datacustomer">
                    <div class="container ">
                        <div class="row">
                            <div class="col col-lg-12">
                                <strong>DATOS DEL CLIENTE:</strong>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col col-lg-8">
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text" id="namecustomer">NOMBRES</span>
                                    </div>
                                    <input type="text" class="form-control" placeholder="Jose Miguel" id="innamecustomer" aria-label="namecustomer" aria-describedby="namecustomer">
                                </div>
                            </div>
                            <div class="col col-lg-4">
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text" id="identificationcustomer">IDENTIFICACION</span>
                                    </div>
                                    <input type="text" class="form-control" placeholder="123456" id="inidentificationcustomer" aria-label="identificationcustomer" aria-describedby="identificationcustomer">
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col col-lg-8">
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text" id="lastnamecustomer">APELLIDOS</span>
                                    </div>
                                    <input type="text" class="form-control" placeholder="Perez Marquez" id="inlastnamecustomer" aria-label="lastnamecustomer" aria-describedby="lastnamecustomer">
                                </div>
                            </div>
                            <div class="col col-lg-4">
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text" id="agecustomer">EDAD</span>
                                    </div>
                                    <input type="text" class="form-control" placeholder="18" id="inagecustomer" aria-label="agecustomer" aria-describedby="agecustomer">
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col col-lg-6">
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text" id="phonecustomer">TELEFONOS</span>
                                    </div>
                                    <input type="text" class="form-control" placeholder="" aria-label="phonecustomer" id="inputphonecustomer" aria-describedby="phonecustomer">
                                    <div class="input-group-append">
                                        <button class="btn btn-outline-secondary" type="button" id="btnphonecustomer">
                                            +
                                        </button>
                                    </div>
                                </div>
                            </div>

                            <div class="col col-lg-6">
                                <div class="container ">
                                    <div id="customerphonesdiv" class="row">
                                        <div class="col col-sm" id="customerphone1">

                                        </div>
                                        <div class="col col-sm" id="customerphone2">

                                        </div>
                                        <div class="col col-sm" id="customerphone3">

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col col-lg-12">
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text" id="directioncustomer">DIRECCION DE PROCEDENCIA</span>
                                    </div>
                                    <input type="text" class="form-control" placeholder="" id="indirectioncustomer" aria-label="directioncustomer" aria-describedby="directioncustomer">
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col col-lg-12">
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text" id="emailcustomer">CORREO ELECTRONICO</span>
                                    </div>
                                    <input type="text" class="form-control" placeholder="" id="inemailcustomer" aria-label="emailcustomer" aria-describedby="emailcustomer">
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
                <!-- Data customer End -->
                <!-- Data beneficiary Begin -->
                <div class="row border border-warning" id="databeneficiary">
                    <div class="container ">
                        <div class="row">
                            <div class="col col-lg-12">
                                <strong>DATOS DEL BENEFICIARIO:</strong>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col col-lg-12">
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text" id="namelastnamebeneficiary">NOMBRES Y APELLIDOS</span>
                                    </div>
                                    <input type="text" class="form-control" placeholder="Jose Miguel Perez Marquez" id="innamelastnamebeneficiary" aria-label="namelastnamebeneficiary" aria-describedby="namelastnamebeneficiary">
                                </div>
                            </div>
                        </div>


                        <div class="row">
                            <div class="col col-lg-6">
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text" id="phonebeneficiary">TELEFONOS</span>
                                    </div>
                                    <input type="text" class="form-control" placeholder="" aria-label="phonebeneficiary" id="inputphonebeneficiary" aria-describedby="phonebeneficiary">
                                    <div class="input-group-append">
                                        <button class="btn btn-outline-secondary" type="button" id="btnphonebeneficiary">
                                            +
                                        </button>
                                    </div>
                                </div>
                            </div>

                            <div class="col col-lg-6">
                                <div class="container ">
                                    <div id="beneficiaryphonesdiv" class="row">
                                        <div class="col col-sm" id="beneficiaryphone1">

                                        </div>
                                        <div class="col col-sm" id="beneficiaryphone2">

                                        </div>
                                        <div class="col col-sm" id="beneficiaryphone3">

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col col-lg-12">
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text" id="deliverybeneficiary">DIRECCION DE ENTREGA</span>
                                    </div>
                                    <input type="text" class="form-control" placeholder="" id="indeliverybeneficiary" aria-label="deliverybeneficiary" aria-describedby="deliverybeneficiary">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Data beneficiary End -->
                <!-- Data detail Begin -->
                <div class="row border border-warning rounded-bottom" id="datadetail">
                    <div class="container ">
                        <div class="row">
                            <div class="col col-lg-12">
                                <strong>Detalles:</strong>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col col-lg-6">
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text" id="namecollector">NOMBRES RECAUDADOR</span>
                                    </div>
                                    <input type="text" class="form-control" placeholder="Jose Miguel Perez Marquez" id="innamecollector" aria-label="namecollector" aria-describedby="namecollector">
                                </div>
                            </div>

                            <div class="col col-lg-6">
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text" id="idcollector">ID RECAUDADOR</span>
                                    </div>
                                    <input type="text" class="form-control" placeholder="123456" id="inidcollector" aria-label="idcollector" aria-describedby="idcollector">
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col col-lg-6">
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text" id="pricebykg">PRECIO POR KG</span>
                                    </div>
                                    <input type="text" class="form-control" id="inpricebykg" aria-label="pricebykg" aria-describedby="pricebykg">
                                </div>
                            </div>
                            <div class="col col-lg-6">
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text" id="kginsuitcase">TOTAL KG EN VALIJA</span>
                                    </div>
                                    <input type="text" class="form-control" id="inkginsuitcase" aria-label="kginsuitcase" aria-describedby="kginsuitcase">
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col col-lg-6">
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text" id="detailpackagecoin">MONEDA</span>
                                    </div>
                                    <input type="text" class="form-control" id="indetailpackagecoin" aria-label="detailpackagecoin" aria-describedby="detailpackagecoin">
                                </div>
                            </div>
                            <div class="col col-lg-6">
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text" id="detailexchangerate">TIPO DE CAMBIO</span>
                                    </div>
                                    <input type="text" class="form-control" id="indetailexchangerate" aria-label="detailexchangerate" aria-describedby="detailexchangerate">
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col col-lg-6">
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text" id="detailpaytotal">TOTAL A CANCELAR</span>
                                    </div>
                                    <input type="text" class="form-control" id="indetailpaytotal" aria-label="detailpaytotal" aria-describedby="detailpaytotal">
                                </div>
                            </div>
                            @*<div class="col col-lg-6">
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="detailpackagedate">FECHA</span>
                                </div>
                                <input type="text" class="form-control" aria-label="detailpackagedate" aria-describedby="detailpackagedate">
                            </div>
                        </div>*@
                        </div>

                        <div class="row">
                            <div class="col col-lg-12">
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">detallar artículos</span>
                                    </div>
                                    <textarea class="form-control" id="detailarticlessend" aria-label="detallar artículos"></textarea>
                                </div>
                            </div>
                        </div>
                        <br />
                    </div>
                </div>
                <!-- Data detail End -->
                <!-- Data save Begin -->
                <br />
                <div class="row text-center" id="datadetailsave">
                    <div class="col col-lg-3 ">
                    </div>
                    <div class="col col-lg-6 ">
                        <a href="#managerpackage">
                            <button type="submit" class="btn btn-primary btn-lg btn-block" id="btnsavepackage">
                                Guardar
                            </button>
                        </a>
                    </div>
                </div>
                <!-- Data save End -->
            </div>
</form>
</section>

