<div class="container">
    <div class="row mr-3">
        <div class="col-sm rounded-left titlemanagerprice">
            <label>Banco</label>
        </div>
        <div class="col-sm titlemanagerprice">
            <label>Moneda</label>
        </div>
        <div class="col-sm titlemanagerprice">
            <label>Bs</label>
        </div>
        <div class="col col-lg-2 rounded-right titlemanagerprice">
        </div>
    </div>



    <div class="container" id="managerPrice">
        <div class="row p-2" id="rowManagerPriceNew">

            <div class="col-sm">
                <input type="text" id="bankManagerPriceNew" class="form-control" placeholder="Banco">
            </div>
            <div class="col-sm">
                <input type="text" id="coinManagerPriceNew" class="form-control" placeholder="Moneda">
            </div>
            <div class="col-sm">
                <input type="text" id="valueManagerPriceNew" class="form-control" placeholder="Precio">
            </div>

            <div class="col col-lg-2">
                <button type="button" id="rowManagerPriceNew" class="btn btn-success" title="Agregar">Agregar</button>
            </div>

        </div>
    </div>



    <div class="row p-4">
        <div class="col-10"></div>
        <div class="col-2"><button type="button" class="btn btn-success">Guardar</button></div>
    </div>
</div>